.home-container {
  height: calc(100vh - 141px);

  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 0px 100px 0px 100px;

  .weather-container {
    padding-top: 100px;
  }
  .air-quality-wrapper {
    padding: 0px 80px 0px 80px;
    align-self: center;
  }
}
