.home-container {
  height: calc(100vh - 141px);

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  padding: 0px 40px 0px 40px;

  .weather-container {
    padding-top: 100px;
  }
  .air-quality-wrapper {
    padding-top: 100px;
  }
}
