.navigation-container {
  display: grid;
  grid-template-rows: 2fr 1fr;

  box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.2);

  .navigation-bar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: $primary-blue;

    .logo {
      padding: 10px 0px 10px 30px;
    }

    .search-bar-wrapper {
      align-self: center;
      .search-bar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        &-icon {
          grid-row: 1;
          grid-column: 1;
          align-self: center;
          justify-self: end;
          z-index: 9;

          cursor: pointer;
          margin-right: 25px;
          font-size: 1.3rem;
          color: $soft-white-blue;
        }
        input {
          width: 100%;
          height: 40px;
          border-radius: 30px;
          border: 1px solid transparent;
          background-color: $secondary-blue;
          color: $soft-white-blue;
          font-family: "oxygen";
          font-size: 1.2rem;
          text-align: center;

          grid-row: 1;
          grid-column: 1;

          &:focus {
            outline: none;
            border: 1px solid $soft-white-blue;
          }

          &::placeholder {
            color: $soft-white-blue;
            text-align: center;
          }
        }
      }
    }
  }
  .recent-search-container {
    display: flex;
    background-color: $secondary-blue;

    .miniature-city-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 360px;

      border: 1px solid $primary-blue;
      color: $soft-white-blue;
      .city-info,
      .delte-btn {
        cursor: pointer;
      }
    }
  }
}
