.results-wrapper {
  position: relative;
  padding: 0px 15px 0px 15px;
  z-index: 99;

  .results-container {
    display: grid;
    grid-template-columns: 1fr;

    position: absolute;

    padding: 0px 20px 0px 20px;

    background-color: $soft-white-blue;
    border-radius: 0px 0px 10px 10px;

    .result-container {
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
      padding-top: 3px;
      padding-bottom: 3px;
      border-bottom: solid 1px transparent;

      cursor: pointer;
      transition: 0.5s ease-in-out;

      &:hover {
        border-bottom: solid 1px $primary-blue;
      }

      .icon {
        transition: 0.5s ease-in-out;

        &:hover {
          color: $primary-blue;
        }
      }
    }
  }
}
