.weather-info {
  height: 80%;
  border: solid 1px $secondary-blue;
  border-radius: 30px;

  .weather-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding: 20px;
  }
}
